/* Estilos generales para el cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

/* Estilos para el enlace "Volver" */
#volver {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin: 10px;
    display: block; /* Convierte el enlace en un bloque para el espaciado */
}

/* Estilos para la galería de videos */
.video-gallery {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para las filas de videos */
.row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Agrega margen inferior entre las filas */
}

/* Estilos para los iframes de videos */
iframe {
    max-width: 560px;
    max-height: 315px;
    margin: 0 10px; /* Ajusta el margen izquierdo y derecho de los videos */
    border: 1px solid #ddd;
    border-radius: 5px;
}
