/* Estilos generales para el cuerpo y el encabezado */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Estilos para el enlace "Volver" */
header a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
}

/* Estilos para la tabla de productos */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}

/* Estilos para los botones de modificar y eliminar */
button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}


